* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    
}

.video-section {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 3rem 1rem;
    padding: 3rem 0;
    margin: 0 1.5rem;
    border-top: 4px solid #ccc;
    
}
.video-section:first-child{
    border-top: none;
}

.video-container {
    display: flex;
    flex-direction: column;
}

.thumbnail-image {
    width: 100%;
    height: 100%;
    min-width: 250px;
    min-height: 150px;
    background-color: #aaa;
}

.channel-icon {
    margin-right: .75rem;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: #aaa;
}

.video-details {
    display: flex;
    flex-direction: column;
}

.video-title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: .5rem;
    text-decoration: none;
    color: black;
}

.video-channel-name {
   margin-bottom: 1rem; 
   text-decoration: none;
   color: #555;
}

.video-section-title {
    grid-column: 1 / -1;
    margin: -0.5rem 0;
    display: flex;
    

}
.vidoes {
    background-color: #f9f9f9;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.youtube-logo {
   height: 20px; 
}

.search-bar {
    display: flex;
    flex-grow: 0.9;
    margin: 0 2 rem 0 4rem;
}

.search-input {
    width: 100%;
    font-size: inherit;
    padding: .4em;
    border: 1px solid #777;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search-btn {
    display: flex;
    align-items: center;
    padding: 0 1.25rem;
    border: 1px solid #777;
    background-color: #f8f8f8;
    border-left: none ;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;

}

.search-btn:hover {
    background-color: #f0f0f0;
}

.menu-icons {
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    gap: 1.3rem;
}

.menu-channel-icon {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: #aaa;
}

.comment {
    padding: 3rem 0;
    margin: 0 1.5rem;
}

a {
  margin-bottom: 1rem; 
    text-decoration: none;
    color: #555;
 }